@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: royalblue;
    color: white;
    display: flex;
}
.header-brand{
    display: flex;
    width: 160px;
    height: 100%;
    justify-content: center;
}
.header-brand .header-img{
    margin: 0 10px;
}
.header-brand span{
    font-style: italic;
    align-self: center;
    font-size: 1.5rem;
}